<nav style='margin-left: 30px;' id="navbar">
    <div class="dropdown">
      <button class="dropbtn">New Entries</button>
      <div class="dropdown-content">
        <a href="books"><h3>New Book</h3></a>  
        <a href="essayCols"><h3>New Collection</h3></a>
        <a href="poems"><h3>New Poem</h3></a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Existing Entries</button>
      <div class="dropdown-content">
        <a href="retrieved_books"><h3>Get Books</h3></a>  
        <a href="retrieved_essayCols"><h3>Get Collections</h3></a>
        <a href="retrieved_poem"><h3>Get Poems</h3></a>
        <a href="movies"><h3>Get Movies</h3></a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Navigation</button>
      <div class="dropdown-content">
        <a href="/memberPage"><h3>Home</h3></a>  
        <a href="links"><h3>Useful Links</h3></a>
        <a href="/users/logout"><h3>Logout</h3></a>
      </div>
    </div>
  </nav>  
<br>
<br> 