<section>
    <h1 class='title'>Dashboard</h1>
    <p class='title'> Welcome <%= user.name %></p>
    <a href="memberPageXXX" class='title'>Member Page XXX</a>
    <a href="memberPage" class='title'>Member Page</a>
    <a href="/users/logout" class='title'>Logout</a>
</section>