<html>
<head>
<title>Memory App</title>
<link rel="stylesheet" type="text/css" href="/styles.css">
<link rel="stylesheet" type="text/css" href="/navbar.css">
</head>
<body>
<%- body %> 
</body>
</html>