
<section>
  <%- include('./nav'); %>
  

  <div class='formContainer'>
    <h3><%= user.name %>'s Memory Palace</h3>
    <br>

    <h3 class="headings"><%= user.name %>'s Book Titles:</h3>
        <h4 class="titles">The Philosophy of Design</h4> <!-- This need an href link.-->
        <h4 class="titles">The Aesthetics of Design</h4> <!-- This need an href link.-->
        <h4 class="titles">The Meaning of Transcendence: A Hiedeggarian Reflection</h4> <!-- This need an href link.-->
        <h4 class="titles">Truth and Method</h4> <!-- This need an href link.-->
        <h4 class="titles">Anarchy, State, and Utopia</h4> <!-- This need an href link.-->
        
        <h4 class="titles">Tacit Knowledge</h4>
        <br>
        <h3 class="headings">Essay Collections:</h3>
        <h4 class="titles">Koornmarkt Straat</h4> <!-- This need an href link.-->
        <br>
        <h3 class="headings">Poems:</h3>
        <h4 class="titles">If</h4>
  </div>
</section>
