<html>
  <section>
    <h1 class='title'>Welcome!</h1>
    <div class='formContainer'>
    <p>Create an account or login</p>
    <br>
    <a class='links' href="/users/register">Register</a>
    <a class='links' href="/users/login" style='margin-left: 20px;'> Login</a>
    </div>
  </section>
</html>